body  {
	background: #1c2029 url(../img/linen.png) repeat ;
	margin:0px;
	font: normal 12px HelveticaNeue, Helvetica, Arial;
}
@font-face {
    font-family: 'Icons';
    src: url('/lib/iconsweets_deluxe/fonts/web_font/iconsweets-webfont.eot');
    src: url('/lib/iconsweets_deluxe/fonts/web_font/iconsweets-webfont.eot?#iefix') format('embedded-opentype'),
         url('/lib/iconsweets_deluxe/fonts/web_font/iconsweets-webfont.woff') format('woff'),
         url('/lib/iconsweets_deluxe/fonts/web_font/iconsweets-webfont.ttf') format('truetype'),
         url('/lib/iconsweets_deluxe/fonts/web_font/iconsweets-webfont.svg#iconSweetsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#content {
	
	font: normal 12px HelveticaNeue, Helvetica, Arial;
	-webkit-text-stroke: 1px transparent;
	overflow-x: hidden;
	-webkit-backface-visibility: hidden;
	background: -webkit-radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	background: -moz-radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	background: -o-radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	background: -ms-radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	background: -khtml-radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	background: radial-gradient(circle, rgba(100,100,100,0.2), rgba(0,0,0,0.9));
	width: 100%;
	height: 100%;
	position:absolute;
}

#main-body {
	top:70px;
	position:relative;
	min-height:500px;
}

/* landing / login page */

.landing {
	margin-left: auto;
	margin-rigth: auto;
	text-align : center;
	top:100px;
	position:relative;
}

a.landing-btn {
	font-size:20px;
	padding: 15px 60px;
	width: 100%;
	margin-top: 20px;
	height: 45px;
	font: bold 14px/45px HelveticaNeue, Helvetica, Arial;
	color: rgba(0,0,0,0.75);
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px -1px 0px rgba(255,255,255,0.3) inset;
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px -1px 0px rgba(255,255,255,0.3) inset;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2), 0px -1px 0px rgba(255,255,255,0.3) inset;
	border-radius: 4px;
	border: 0px solid;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.35));
	background-image: -moz-linear-gradient(transparent, rgba(0,0,0,0.35));
	background-color: #FFD000;
	cursor: pointer;
	text-decoration:none;
	-webkit-text-decoration:none;
}

a.landing-btn:hover {
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
	background-image: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

input[type="text"], input[type="password"], textarea {
	border: 1px solid #bbb; 
	background: -webkit-linear-gradient(rgba(255,255,255,0.2), white);
	background: -moz-linear-gradient(rgba(255,255,255,0), white);
	height: 40px;
	color: #888;
	border-radius: 2px;
	font-size: 12px;
	display: block;
	width: 100%;
	font: normal 12px HelveticaNeue, Helvetica, Arial;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}
.input input{
	border: 1px solid #555;
	background : rgba(0,0,0,0.3);
	
	position : relative;
	width:400px;
}


.input {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

input.username {
	font-weight:bold;
	color:white;
	margin-bottom:0 !important;
}

input {
	background: transparent;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0px;
	height: auto;
	width:100%;
	font-size:15px;
}


input {
	border-radius:0px;
	border-top:none !important;
}

input[type="text"]:last-child {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

input[type="text"]:first-child {
	border-top:1px solid #555 !important;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.input .checkbox2 span {
	position :relative;
	color: #666;
	left: 50px;
	top:-17px;
}

/* SQUARED THREE */
.squaredThree {
	width:1px;
	margin:20px 20px;
	position: relative;
}

.squaredThree label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredThree label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredThree label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredThree input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

input#squaredThree {
	visibility:hidden
}

p label {
	color: orange;
	font-weight:bold;

}




/* Listing Css */

.listing-date {
	left:5%;
	position:relative;
	font-size: 50px;
	color:white;
}


/* Card Css */

.card {
	background-color: #FFF;
	border-radius: 3px;
	margin:10px 20px;
}

.card .card-header div {
	text-align:center;
}

.card .card-header div {
	font-size:30px;
	padding:10px 0;
}

.card .card-header div:first-child {
	font-size:40px;
	padding: 5px 10px;

}

.card .card-header div:last-child {
	font-size: 30px;
	padding: 10px 10px;
}

.card .line {
	height:1px;
	width:100%;
	background-color: #333;
}

.card .miniLine {
	width:50%;
	margin-left:25%;
	border-bottom: 1px dashed #333;
}

.card .card-body > div:first-child {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.card .card-body img {
	margin:10px 0;
	height:136px;
	width:136px;
	position:relative;
}

.card .card-body > div:last-child {
	margin-top:10px;
	text-align:center;
	font-size:20px;
}

.card .card-body > div:last-child > div:first-child {
	font-size: 30px;
}

.card .card-extended {
	display:none;
}

.card .card-extended .subTitle {
	margin-top:10px;
	text-align:center;
	font-size: 20px;
}


