<div class='settings-body'>
	<div class='settings-title'>
		Connect with:
	</div>
	<div class=''>
		<a href='landing-btn'>Connect to Linkedin</a>
		<a href=''>Connect to Twitter</a>
		<a href=''>Connect to Google</a>
	</div>
</div>