<div class='settings-body'>
	<div class='settings-title'>
		Social Network Integrations
	</div>
	<div class='row-fluid connect-tools'>
		<div class='span4'>
			<a target='_' href='/api/oauth/linkedin/auth?method=connect' class='socialConnect-btn'>Connect with LinkedIn</a>
		</div>
		<div class='span4'>
			<a target='_' href='/api/oauth/twitter/auth?method=connect'class='socialConnect-btn'>Connect with Twitter</a>
		</div>
		<div class='span4'>
			<a target='_' href='/api/oauth/google/auth?method=connect' class='socialConnect-btn'>Connect with Google</a>
		</div>
	</div>
</div>