<div class='card '>
	<!-- time & location -->
	<div class='card-main'>
		<div class='card-header row-fluid'>
			<div class='span4'>
				2:45PM	|
			</div>
			<div class='span4'>
				VC Meeting
			</div>
			<div class='span4'>
				@1355 Market St, SF
			</div>
		</div>
		<div class='line row-fluid'></div>
		<!-- Pic & Name Area -->
		<div class='card-body row-fluid'>
		 	<div class='span4'>
		 		<img src='http://4.bp.blogspot.com/-E2ln-pAlU4g/TWGQoPkZrtI/AAAAAAAACwE/CqFj1KKEXZE/s1600/BusinessCat2.jpg'/>
		 	</div>
		 	<div class='span8 row-fluid'>
		 		<div class='span12'>
		 			Alfred Kam
		 		</div>
		 		<div class='span12'>
		 			Co-Founder at Appfuel
		 		</div>
		 		<div class='span12'>
		 			Toronto
		 		</div>
		 		<div class='span12'>
		 			<a href="https://twitter.com/alfredkam" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @alfredkam</a>
		 		</div>
		 	</div>
		</div>
	</div>
	<!-- Social Stuff -->
	<div class='card-extended row-fluid'>
		<div class='line row-fluid'></div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Social
			</div>
		</div>
		<div class='miniLine row-fluid'></div>
		<div class='span12'>
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Top 5 Tweets
			</div>
		</div>
			<div class='miniLine row-fluid'></div>
		<div class='span12'>	
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='span12 quickFollow'>
			<a class='popUp-btn' data-name='Alfred Kam'>Quick Follow Up</a>
		</div>
	</div>
</div>
<div class='card '>
	<!-- time & location -->
	<div class='card-main'>
		<div class='card-header row-fluid'>
			<div class='span4'>
				2:45PM	|
			</div>
			<div class='span4'>
				VC Meeting
			</div>
			<div class='span4'>
				@1355 Market St, SF
			</div>
		</div>
		<div class='line row-fluid'></div>
		<!-- Pic & Name Area -->
		<div class='card-body row-fluid'>
		 	<div class='span4'>
		 		<img src='http://4.bp.blogspot.com/-E2ln-pAlU4g/TWGQoPkZrtI/AAAAAAAACwE/CqFj1KKEXZE/s1600/BusinessCat2.jpg'/>
		 	</div>
		 	<div class='span8 row-fluid'>
		 		<div class='span12'>
		 			Alfred Kam
		 		</div>
		 		<div class='span12'>
		 			Co-Founder at Appfuel
		 		</div>
		 		<div class='span12'>
		 			Toronto
		 		</div>
		 		<div class='span12'>
		 			<a href="https://twitter.com/alfredkam" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @alfredkam</a>
		 		</div>
		 	</div>
		</div>
	</div>
	<!-- Social Stuff -->
	<div class='card-extended row-fluid'>
		<div class='line row-fluid'></div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Social
			</div>
		</div>
		<div class='miniLine row-fluid'></div>
		<div class='span12'>
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Top 5 Tweets
			</div>
		</div>
			<div class='miniLine row-fluid'></div>
		<div class='span12'>	
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='span12 quickFollow'>
			<a class='popUp-btn' data-name='Alfred Kam'>Quick Follow Up</a>
		</div>
	</div>
</div>
<div class='card '>
	<!-- time & location -->
	<div class='card-main'>
		<div class='card-header row-fluid'>
			<div class='span4'>
				12:30PM	|
			</div>
			<div class='span4'>
				Catch Up
			</div>
			<div class='span4'>
				@ Phone
			</div>
		</div>
		<div class='line row-fluid'></div>
		<!-- Pic & Name Area -->
		<div class='card-body row-fluid'>
		 	<div class='span4'>
		 		<img src='http://s3.amazonaws.com/crunchbase_prod_assets/assets/images/resized/0009/2812/92812v8-max-250x250.png'/>
		 	</div>
		 	<div class='span8 row-fluid'>
		 		<div class='span12'>
		 			Cyril Ebersweiler
		 		</div>
		 		<div class='span12'>
		 			SOSventures, Chinaccelerator, HAXLR8R
		 		</div>
		 		<div class='span12'>
		 			@ Skype
		 		</div>
		 		<div class='span12'>
		 			<a href="https://twitter.com/chinaccelerator" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @chinaccelerator</a>
		 		</div>
		 	</div>
		</div>
	</div>
	<!-- Social Stuff -->
	<div class='card-extended row-fluid'>
		<div class='line row-fluid'></div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Social
			</div>
		</div>
		<div class='miniLine row-fluid'></div>
		<div class='span12'>
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='row-fluid'>
			<div class='subTitle span12'>
				Top 5 Tweets
			</div>
		</div>
			<div class='miniLine row-fluid'></div>
		<div class='span12'>	
			<div class='span12'>
				*<br>
				*<br>
				*<br>
				*<br>
				*<br>
			</div>
		</div>
		<div class='span12 quickFollow'>
			<a class='popUp-btn' data-name='Alfred Kam'>Quick Follow Up</a>
		</div>
	</div>
</div>