<div class='landing'>
	<div class='landing-wrapper'>
		<div class='landing-logo'>
			<img src='img/shrleygirl.png'/><br>
			<img id='landing-shrley' src='img/shrley.png'/>
			<div class='subNote'>The only secretary you'll ever need</div>
		</div>
		<div>
			<div class='input'>
				<input name='Email' type='text' class='username email' placeholder="Email"/>
				<input name='Password' type='password' class='password' placeholder='Password'/>
				<div class="squaredThree checkbox2">
							<input type="checkbox" value="None" id="squaredThree" name="check">
							<label for="squaredThree"></label><span>Remember Me</span>
				</div>
			</div>
			<a  class='landing-btn' href ='#'>Login</a>
		</div>
	</div>
</div>
