<div class='landing'>
	<div class='landing-wrapper'>
		<div class='landing-logo'>
			<img src='img/original.gif'/>
		</div>
		<div>
			<a  class='landing-btn' href ='#meetings'>Lets Get Started!</a>
		</div>
	</div>
</div>
